.logotypefooter{
    position: relative;
  bottom: 75px;
}

.footerinfo{
    display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 42px;
}
.contacts{
    width: 485px;
  height: 187px;
}

.contactadress{
    display: flex;
    flex-direction: row;
}

.contactadress p{
    margin-left: 21px;
}

.iconn{
    max-width: fit-content;
  object-fit: contain;
}

.navigation{
    display: flex;
  flex-direction: column;
  width: 641px;
}

.fourbuttons{
    display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.stayinconnection h3{
    font-weight: 700;
  font-size: 23px;
}

.stayinconnection{
    margin-left: 50px;
}

.emailaddress {
    position: relative;
    display: inline-block;
}

.emailaddress button {
    position: absolute;
    right: 5px;
    background-color: #18a41d;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    z-index: 3;
    top: 3px;
    text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}

.emailaddress input {
    background-color: rgb(39, 39, 39);
    border: none;
    padding: 10px;
    margin-bottom: 15px;
    color: white; /* Белый текст */
    font-size: 16px;
    outline: none; /* Убираем стандартную обводку при фокусировке */
    position: relative; /* Убедимся, что поля не перекрываются */
    z-index: 3; /* Обеспечиваем, чтобы поля были выше других элементов */
    width: 500px;
}

.red{
    background: #18a41d;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.socseti{
    align-content: center;
}

.socialmediaicon{
    margin: 0px 8px;
}

footer{
    background-color: black;
    color: rgb(255, 255, 255);
}

@media (max-width: 768px){

.card, .form form, .form input, .emailaddress input {
    width: 90%;
  }

   .emailaddress input {
    width: calc(100% - 130px); 
  }

    .logotypefooter,
  .navigation,
  .contacts {
    width: 100%;
  }
.contactadress{
    flex-direction: column;
    align-items: center;
}
 .logotypefooter,
  .navigation,
  .contacts {
    width: 100%;
  }

.cards-section, .footerinfo, .contactadress, .fourbuttons, .booking, .text1, .testimonials, .portfolio, .navigation {
    flex-direction: column;
    align-items: center;
  }
  .footerinfo{
      gap: 50px;
      flex-direction: column;
    align-items: center;
    }

    .stayinconnection{
      margin-left: 0px;
    }
}